<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment.html :: head('Book Detail')">
</head>
<body>
<section th:include="fragment.html :: navbar"></section>
<div class="container mt-5">
    <div class="row">
        <section>
            <a th:href="@{${book.path}}">
                <img th:src="${book.img_path}" class="img-thumbnail" alt="Cinque Terre" width="254" height="500">
            </a>
            <h5>Click for download file...</h5>
        </section>
        <dl>
            <dt>Book Name</dt>
            <dd>
                <li th:text="${book.name}"></li>
            </dd>

            <dt>Book Author</dt>
            <dd>
                <li th:text="${book.author}"></li>
            </dd>
            <dt>Page Count</dt>
            <dd>
                <li th:text="${book.pageCount}"></li>
            </dd>
            <dt>Extra Actions</dt>
            <dd>
                <a th:href="@{/book/delete/{id}/(id=${book.id}) }" class="btn btn-danger">Delete</a> ||
                <a th:href="@{/book/update/{id}/(id=${book.id}) }" class="btn btn-secondary">Update</a>
            </dd>
        </dl>
    </div>
</div>
</body>
</html>